/* drawer.css */
.drawer-open {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.drawer-closed {
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.drawer-content {
    transition: opacity 0.3s ease, transform 0.3s ease;
}